<form
    style="margin: 3%; padding:3%; border: 1px solid black; border-radius:5px"
    method="post"
    action=""
>
    <div class="mb-3">
        <input
            type="text"
            class="form-control"
            id="search-input"
            name="q"
            placeholder="Search for a product"
        />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>